<div class=" row justify-content-center">
    <div class="col-md-10">

        @{
            ViewData["Title"] = "Customer Message";
        }

        <h1>@ViewData["Title"]</h1>
        <div class="d-flex rounded" style=" color:white; flex-direction:column; row-gap:20px; background-color:darkblue; padding:40px;">
            <h5>Name : @ViewBag.CustomerMessage.Name</h5>
            <h5>Email : @ViewBag.CustomerMessage.Email</h5>
            <h5>Phone : @ViewBag.CustomerMessage.PhoneNumber</h5>
            <p>Message: <span style="color:white; padding:5px 10px; border-radius:4px;">@ViewBag.CustomerMessage.Message</span></p>
            <p style="text-align:end;"><span style="color:black; padding:2px 5px;border-radius:4px 0px; background-color:#ecdace;">Was Sent At :@ViewBag.CustomerMessage.CreatedDateTime.ToString("ddd dd MMM yyy HH:mm:ss")</span></p>
         </div>


        <a class="float-right  btn btn-info" style="margin-top:20px;" asp-controller="CustomerMessage" asp-action="Index"> All Customer Message</a>
    </div>
</div>