<div class=" row justify-content-center">
    <div class="col-md-12">

        @{
            ViewData["Title"] = "User List";
        }
        <h1>@ViewData["Title"]</h1>
        @{
            if (TempData["FlashMessage"] != null)
            {
                <partial name="~/Views/Component/FlashMessage.cshtml"></partial>
            }
        }
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            User Name
                        </th>
                        <th scope="col" class="text-center">
                            Email
                        </th>
                        <th scope="col" class="text-center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.AllUser)
                    {
                        <tr>
                            <td>
                                @item.Name

                            </td>
                            <td>
                                @item.UserName

                            </td>
                            <td class="text-center">

                                @item.Email

                            </td>
                            <td class="text-center">
                                <a class="btn btn-info" asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id">Change Password</a>
                                <button class=" float-right btn btn-danger" onclick="DeleteItem('/Admin/Account/Delete/@item.Id')">Delete</button>

                            </td>

                        </tr>
                    }


                </tbody>
            </table>
                <form class="d-none" method="get" id="form-delete-item-action">
                    <button type="submit" class="btn" id="Delete-confirm-item"> </button>
                </form>
         </div>
       <a class="float-right btn btn-info" asp-controller="Account" asp-action="Register"> Create New One</a>  
    </div>
</div>