@model CustomerReviewEditViewModel
@{
    ViewData["Title"] = "Edit A New CustomerReview";
}

<h1 class="text-align-center">@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
<form method="post" enctype="multipart/form-data" asp-controller="CustomerReview" asp-action="Edit">
    <input hidden asp-for="@Model.Id" />
    <input hidden asp-for="@Model.ExistingImage" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="@Model.Description"> </textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea class="form-control" asp-for="@Model.Message"> </textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive">Status</label>
        <select class="form-control" asp-for="@Model.IsActive">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">InActive</option>
            <span asp-validation-for="IsActive"></span>
        </select>
   </div>
    <div class="form-group">

        <label asp-for="DisplayOrder"></label>
        <input class="form-control" asp-for="@Model.DisplayOrder" />
        <span asp-validation-for="DisplayOrder"></span> 
   </div>
    <div class="form-group">

        <label asp-for="Image"></label>
        <input class="form-control" asp-for="Image"  />
        <span asp-validation-for="Image"></span>
    </div>
    <button class="btn btn-info float-right" type="submit">Update</button>
</form>
@section scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }